<%- include('../Header.html'); -%>
<link rel="stylesheet" href="/css/basketPage.css" />
<link rel="stylesheet" href="/css/contentPanel.css" />

<main class="color-bk-primary basket--main-container">
    
    <header>
        <h3>Корзина</h3>
    </header>

    <div class="container main-page-container">
        <div class="content--item-panel">
            <% for(let basketItem of items){ %>

            <div class="row content--item-box">
                <div class="col-md-2 image-container">
                    <img src="<%= basketItem.itemImageUrl %>" />
                </div>
                <div class="col-md-5">
                    <p><%= basketItem.itemName %></p>
                    <p><%= basketItem.itemDescription %></p>
                </div>
                <div class="col-md-3">
                    <p><%= basketItem.itemPrice %><span><%= basketItem.priceDescription %></span></p>
                </div>
                <div class="col-md-2">
                    <span><a>Статус</a></span>
                </div>
            </div>

            <% } %>
        </div>
        
    </div>

</main>
<%- include('../Footer.html'); -%>