 <footer class="container-fluid color-bk-footer footer">
     <div class="row">
         <div class="col-md-5">
             <p class="footer--p">Noda corparation inc.</p>
             <p class="footer--p">г. Минск, пр. Независимости, 123</p>
             <p class="footer--p">+375121234567</p>
             <p class="footer--p">noda@domain.com</p>
         </div>
         <div class="offset-md-5 col-md-2 main--center-container">
             <p>Все права защищены</p>
         </div>
     </div>
 </footer>
</body>
</html>