<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <link href="/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../static/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../static/css/index.css" rel="stylesheet" />
    <link href="/css/index.css" rel="stylesheet" />
    <link href="../static/css/_colors.css" rel="stylesheet" />
    <link href="/css/_colors.css" rel="stylesheet" />
    <title>Noda</title>
</head>
<body>
    <div class="container-fluid color-bk-primary">
        <div class="row main-header justify-content-center">
            <div class="col-md-2 logo "><a href="#">NODA</a></div>
            <div class="col-md-1 main--center-container"><a href="#">Главная</a></div>
            <div class="col-md-1 main--center-container"><a href="#">Категории</a></div>
            <div class="col-md-1 main--center-container"><a href="#">Новинки</a></div>
            <div class="offset-md-6 col-md-1 main--center-container">
                <i>f</i>
                <i>g</i>
            </div>

        </div>
    </div>
