<%- include('Header.html'); -%>
<link rel="stylesheet" href="/css/registrationRole.css" />
<link href="../static/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<main class="registration--role-main-container color-bk-primary">
    <div class="register-role-container">
        <div class="reg-role-panel color-bk-reg-panel" >
            <p class="reg-role-text-header" >Выберите роль</p>
            <div class="reg-role-btn-group">
                <button class="btn btn-primary reg-role-btn" 
                        onclick="window.location.href = '/Registration/Customer';">
                    Покупатель
                </button>
                <button class="btn btn-primary reg-role-btn"
                        onclick="window.location.href = '/Registration/Seller';">
                Продавец
                </button>
            </div>
        </div>
    </div>
</main>
<%- include('Footer.html'); -%>