

.main-page-container {
    display: flex;
    flex-direction: column;
}

.content--item-panel {
    height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.content--item-box{
    margin-top: 10px;
}

.nav-page-contaiter{
    height:100px;
    background-color:yellow;
}
